<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Fournisseur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
    <div class="container my-5">
        <h3> Update Produit</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-8">
                    <form action="#" th:action="@{/produits/update}" th:object="${produit}" method="post">
                        
                        <input type="hidden" th:field="*{id}" />
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="nom" class="col-form-label">Libelle</label> <input type="text" th:field="*{libelle}" class="form-control" id="libelle" placeholder="Libelle"> <span th:if="${#fields.hasErrors('libelle')}" th:errors="*{libelle}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="description" class="col-form-label">Description</label> <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Description"> <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="prix" class="col-form-label">Prix</label> <input type="text" th:field="*{prix}" class="form-control" id="prix" placeholder="prix"> <span th:if="${#fields.hasErrors('prix')}" th:errors="*{prix}" class="text-danger"></span>
                            </div>
   							<div class="form-group col-md-8">
                                <label for="prixPromotion" class="col-form-label">Prix Promotion</label> <input type="text" th:field="*{prixPromotion}" class="form-control" id="prixPromotion" placeholder="prixPromotion"> <span th:if="${#fields.hasErrors('prixPromotion')}" th:errors="*{prixPromotion}" class="text-danger"></span>
                            </div>
                            
							<div class="form-group col-md-8">
                                <label for="quantiteStock" class="col-form-label">Quantite en stock</label> <input type="text" th:field="*{quantiteStock}" class="form-control" id="quantiteStock" placeholder="quantiteStock"> <span th:if="${#fields.hasErrors('quantiteStock')}" th:errors="*{quantiteStock}" class="text-danger"></span>
                            </div>
                              <div class="form-group col-md-8">
                             <label for="fournisseur" class="col-form-label">Select Fournisseur</label>
                            <select name="fournisseurId" class="form-control">
							    <option  th:each="fr: ${fournisseurs}" 
							    th:value="${fr.id}"
							    th:text="${fr.nom}" 
							    th:selected="(${fr.id} == ${idFournisseur})"
							     />
							</select>
							</div>
                            <div class="form-group col-md-8">
                                <input type="submit" class="btn btn-primary" value="Update Fournisseur">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
